<h2 class="accordion-header px-3 d-flex justify-content-between align-items-center" id="heading{{ rule.id|capfirst }}">
  <div class="d-flex align-items-center flex-grow-1">
    <span id="check{{ rule.id|capfirst }}" class="me-2 text-success" style="width: 1.2em;"></span>
    <button class="accordion-button collapsed py-1 flex-grow-1" type="button"
            data-handler-name="{{ rule.id|lower }}">
      {{ rule.label }}
    </button>
  </div>
  <button id="btn{{ rule.id|capfirst }}" class="btn btn-sm btn-outline-primary ms-2 rule-btn" style="width: 32px;">
    <i class="fa fa-plus"></i>
  </button>
</h2>
