{% load i18n %}
{% load static %}

<!--	Numbers 	-->
<div id="nav-numbers" class="tab-pane fade" role="tabpanel" aria-labelledby="nav-numbers-tab" tabindex="0">
    <div class="d-flex flex-column h-100">
        <div class="d-grid gap-2" style="grid-template-columns: repeat(3, 1fr); display: grid; width: 100%; height:100%; margin: auto;">
            {% for i in "123456789" %}
			<button id="nav-btn{{ i }}" class="btn btn-primary py-2" type="button" style="width: 100%; font-size: 3rem; line-height: 1rem;">
				{{ i }}
			</button>{% endfor %}
        </div>
    </div>
</div>
