{% load i18n %}
<div class="modal fade" id="modalAnalysis" tabindex="-1" aria-labelledby="modalAnalysis" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-scrollable">
		<div class="modal-content rounded-5">
			<div class="modal-header">
				<h5 class="modal-title w-100 text-center" id="formulaModalLabel">{% trans "Board analysis" %}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body px-4 py-3">
			
			</div>
		</div>
	</div>
</div>