{% extends "sudoku/base.html" %}
{% load form_filters %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'sudoku/css/badges.css' %}">
<link rel="stylesheet" href="{% static 'sudoku/css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="card shadow-sm border-0">
                <div class="card-body p-4">

                    <h4 class="mb-3 text-center">{{ target_user.username }}</h4>

                    <div class="row mb-4 text-center">
                        <div class="col-md-6"><strong>Last Login:</strong><br>{{ last_login|date:"Y-m-d H:i" }}</div>
                        <div class="col-md-6"><strong>Puzzles Solved:</strong><br>{{ done_count }} / {{ attempt_count }}</div>
                    </div>

                    <!-- Nav Tabs -->
                    <ul class="nav nav-tabs mb-3" id="profileTabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="done-tab" data-bs-toggle="tab" data-bs-target="#done" type="button" role="tab">Puzzles Done</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="created-tab" data-bs-toggle="tab" data-bs-target="#created" type="button" role="tab">Puzzles Created</button>
                        </li>
                    </ul>

                    <!-- Tab Content -->
                    <div class="tab-content pt-2" id="profileTabsContent">
                        <div class="tab-pane fade show active" id="done" role="tabpanel" aria-labelledby="done-tab">
                            {% include "sudoku/profile/profile_puzzles_done.html" with solved_stats=solved_stats %}
                        </div>
                        <div class="tab-pane fade" id="created" role="tabpanel" aria-labelledby="created-tab">
                            {% include "sudoku/profile/profile_puzzles_created.html" with created_puzzles=created_puzzles %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
