{% load form_filters %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content border rounded-5 shadow-sm">
			<div id="modalContentContainer" class="modal-body p-4">
				<h3 class="card-title text-center mb-4">Login</h3>
				<form method="post" action="{% url 'modal_login' %}" novalidate>
					{% csrf_token %}
					{% if login_form.non_field_errors %}
					<div class="alert alert-danger">
						{{ login_form.non_field_errors }}
					</div>
					{% endif %}
					
					{% for field in login_form %}
					<div class="mb-2">
						{% if field.name == "username" %}
						<label for="{{ field.id_for_label }}" class="form-label m-0">{% trans "Username or Email" %}</label>
						{% else %}
						<label for="{{ field.id_for_label }}" class="form-label m-0">{{ field.label }}</label>
						{% endif %}
						{{ field|add_class:"form-control" }}
						{% if field.help_text %}
						<div class="form-text">{{ field.help_text }}</div>
						{% endif %}
						{% for error in field.errors %}
						<div class="invalid-feedback d-block">{{ error }}</div>
						{% endfor %}
					</div>
					{% endfor %}
					
					<button type="submit" class="btn btn-primary w-100 mt-2">{% trans "Log In" %}</button>
				</form>
				<div class="col-auto d-flex justify-content-center mt-2">
					<button class="btn btn-link my-text-btn" data-bs-toggle="modal" data-bs-target="#passwordresetModal" data-bs-dismiss="modal">{% trans "Forgot your password?" %}</button>
				</div>
				<hr class="my-4">
				
				
				
				<div class="d-flex align-items-center justify-content-center gap-3 mt-2">
					<span class="text-nowrap">{% trans "Sign in with..." %}</span>
					<a href="{#% url 'socialaccount_login' 'google' %#}">
						<img src="{% static 'sudoku/img/login/loginSign-google.svg' %}" alt="Google" width="30" class="me-2">
					</a>
				</div>
				<div class="text-center mt-3">
					<button class="btn btn-link m-0 p-0 link link--io my-text-btn" data-bs-toggle="modal" data-bs-target="#registerModal" data-bs-dismiss="modal">{% trans "No account yet? Register now" %}</button>
				</div>
			</div>
		</div>
	</div>
</div>

