{% extends "sudoku/base.html" %}
{% load form_filters %}
{% load i18n %}
{% load static %}

{% block title %}Login{% endblock %}

{% block extra_css %}
<style>
	@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap');
</style>
{% endblock %}


{% block container %}
<div class="container-fluid d-flex flex-column justify-content-center align-items-center mt-3">
	<div class="row justify-content-center">
		<div class="card shadow-sm border rounded-5" style="width: 320px">
			<div class="card-body p-4">
				<h3 class="card-title text-center mb-4">Login</h3>
				<form method="post" novalidate>
					{% csrf_token %}
					{% if form.non_field_errors %}
					<div class="alert alert-danger">
						{{ form.non_field_errors }}
					</div>
					{% endif %}
					
					{% for field in form %}
					<div class="mb-2">
						{% if field.name == "username" %}
						<label for="{{ field.id_for_label }}" class="form-label m-0">Username or Email</label>
						{% else %}
						<label for="{{ field.id_for_label }}" class="form-label m-0">{{ field.label }}</label>
						{% endif %}
						{{ field|add_class:"form-control" }}
						{% if field.help_text %}
						<div class="form-text">{{ field.help_text }}</div>
						{% endif %}
						{% for error in field.errors %}
						<div class="invalid-feedback d-block">{{ error }}</div>
						{% endfor %}
					</div>
					{% endfor %}
					
					<button type="submit" class="btn btn-primary w-100 mt-2">Log In</button>
				</form>
				<div class="col-auto d-flex justify-content-center mt-2">
					<a href="{% url 'password_reset' %}" class="my-text-btn">{% trans "Forgot your password?" %}</a>
				</div>
				<hr class="my-4">
				<div class="d-grid gap-3 text-center">
					<button type="button" class="btn btn-light d-flex align-items-center border shadow-sm">
						<img src="{% static 'sudoku/img/login/loginSign-google.svg' %}" alt="Google" width="24" class="me-3">
						<span class="text-nowrap">Sign in with Google</span>
					</button>
					
					<button type="button" class="btn btn-light d-flex align-items-center border shadow-sm">
						<img src="{% static 'sudoku/img/login/loginSign-Apple.svg' %}" alt="Apple" width="24" class="me-3">
						<span class="text-nowrap">Sign in with Apple</span>
					</button>
					
					<button type="button" class="btn btn-light d-flex align-items-center border shadow-sm">
						<img src="{% static 'sudoku/img/login/loginSign-facebook.svg' %}" alt="Facebook" width="24" class="me-3">
						<span class="text-nowrap">Sign in with Facebook</span>
					</button>
				</div>
				<div class="text-center mt-2">
					<a href="{% url 'register' %}" class="link link--io my-text-btn">{% trans "No account yet? Register now" %}</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}