{% extends "../base.html" %}
{% load static %}

{% block extra_css %}
<style>
	body {
		background-image: none;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		min-height: 100vh;
		z-index: 1;
		position: relative;
		
	}
	
	#btn-gear   {grid-area: gear;}
	#btn-undo   {grid-area: undo;}
	#btn-redo   {grid-area: redo;}
	#btn-ban    {grid-area: ban;}
	
	#btn-one    {grid-area: one;}
	#btn-two    {grid-area: two;}
	#btn-three  {grid-area: three;}
	#btn-four   {grid-area: four;}
	#btn-five   {grid-area: five;}
	#btn-six    {grid-area: six;}
	#btn-seven  {grid-area: seven;}
	#btn-eight  {grid-area: eight;}
	#btn-nine   {grid-area: nine;}
	
	#btn-colorMode  {grid-area: color;}
	#btn-numberMode {grid-area: number;}
	#btn-topMode    {grid-area: top;}
	#btn-centerMode {grid-area: center;}
	#btn-minus      {grid-area: minus;}
	#btn-plus       {grid-area: plus;}
	#btn-toggleEye  {grid-area: eye;}
	
	.button-grid {
		display: grid;
		grid-template-columns: repeat(4, minmax(0, 1fr));
		grid-template-areas:
             "gear undo redo ban"
			  "seven eight nine minus"
			  "four five six plus"
			  "one two three eye"
			  "number top center color";
		gap: 1vw;
		justify-content: stretch;
		align-items: stretch;
		width: 100%;
		max-width: 350px;
		margin: 0 auto;
	}
	
	@media (min-width: 769px) and (max-width: 992px) {
		.button-grid {
			grid-template-columns: repeat(3, minmax(0, 1fr));
			grid-template-areas:
             "gear undo redo"
             "ban minus plus"
             "seven eight nine"
             "four five six"
             "one two three"
             "number top center"
             "color eye zero";
		}
	}
	
	@media (max-width: 768px) {
		.button-grid {
			grid-template-columns: repeat(2, minmax(0, 1fr));
			grid-template-areas:
				"undo redo"
				"gear one"
                "ban two"
                "minus three"
                "plus four"
                "eye five"
                "number six"
                "top seven"
                "center eight"
                "color nine";
		}
	}
	
	.btn-square {
		border-radius: 12px !important;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.8rem;
		min-width: 0;
		min-height: 0;
		aspect-ratio: 1 / 1;
		width: 100%;
		height: auto;
	}
	
	.btn-custom-white {
		color: #212529;
		background-color: #fff;
		border: 1px solid #dee2e6;
		border-radius: 0.375rem;
		transition: background-color 0.15s, box-shadow 0.15s;
		box-shadow: none;
		cursor: pointer;
	}
	
	.btn-custom-white:hover,
	.btn-custom-white:focus {
		color: #212529;
		background-color: #e7f1ff;
		border-color: #86b7fe;
		outline: 0;
		box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25);
	}
	
	.btn-active {
		background-color: #e7f1ff !important;
		border-color: #86b7fe !important;
		box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25) !important;
	}
	
	.whitebox {
		background-color: white;
	}
	
	.block-bg {
		padding: 0;
	}
	
	.block-top {
		background: url("{% static 'sudoku/img/playboard/block-top.png' %}") top center no-repeat;
		background-size: 100% auto;
		height: 40px;
		min-height: 30px;
		width: 100%;
	}
	
	.block-middle {
		background: url("{% static 'sudoku/img/playboard/block-content.png' %}") top center repeat-y;
		background-size: 100% auto;
		width: 100%;
	}
	
	.block-bottom {
		background: url("{% static 'sudoku/img/playboard/block-bottom.png' %}") bottom center no-repeat;
		background-size: 100% auto;
		height: 20px;
		min-height: 20px;
		width: 100%;
	}
	
	.timer {
		font-size: 2rem;
		font-weight: bold;
		margin-bottom: 10px;
	}

</style>

<link rel="stylesheet" href="{% static 'sudoku/css/board.css' %}">

{% endblock %}

{% block content %}
<div class="row">
	<!-- Linke Spalte -->
	<div class="col-3 py-3">
		<div class="block-bg w-100 border rounded whitebox">
			<div id="TopBlockL"></div>
			<div id="MiddleBlockL" class="justify-content-start p-3">
				<div class="button-grid">
					<button id="btn-gear" class="btn btn-custom-white btn-square"><i class="bi bi-gear"></i></button>
					<button id="btn-undo" class="btn btn-custom-white btn-square"><i class="bi bi-arrow-counterclockwise"></i></button>
					<button id="btn-redo" class="btn btn-custom-white btn-square"><i class="bi bi-arrow-clockwise"></i></button>
					<button id="btn-ban" class="btn btn-custom-white btn-square"><i class="bi bi-ban"></i></button>
					
					<button id="btn-one" class="btn btn-custom-white btn-square IsBtnNumber">1</button>
					<button id="btn-two" class="btn btn-custom-white btn-square IsBtnNumber">2</button>
					<button id="btn-three" class="btn btn-custom-white btn-square IsBtnNumber">3</button>
					<button id="btn-four" class="btn btn-custom-white btn-square IsBtnNumber">4</button>
					<button id="btn-five" class="btn btn-custom-white btn-square IsBtnNumber">5</button>
					<button id="btn-six" class="btn btn-custom-white btn-square IsBtnNumber">6</button>
					<button id="btn-seven" class="btn btn-custom-white btn-square IsBtnNumber">7</button>
					<button id="btn-eight" class="btn btn-custom-white btn-square IsBtnNumber">8</button>
					<button id="btn-nine" class="btn btn-custom-white btn-square IsBtnNumber">9</button>
					
					<button id="btn-plus" class="btn btn-custom-white btn-square">+</button>
					<button id="btn-minus" class="btn btn-custom-white btn-square">-</button>
					<button id="btn-toggleEye" class="btn btn-custom-white btn-square"><i class="bi bi-eye"></i></button>
					<button id="btn-numberMode" class="btn btn-custom-white btn-square"><i class="bi bi-pencil-square"></i></button>
					<button id="btn-topMode" class="btn btn-custom-white btn-square"><i class="bi bi-arrow-up-left-square"></i></button>
					<button id="btn-centerMode" class="btn btn-custom-white btn-square"><i class="bi bi-dash-square"></i></button>
					<button id="btn-colorMode" class="btn btn-custom-white btn-square"><img src="{% static 'sudoku/img/playboard/btn-farbe.svg' %}" alt="Icon" width="24" height="24" /></button>
					<div id="zero"></div>
				</div>
			</div>
			<div id="BottomBlockL"></div>
		</div>
	</div>
	
	
	<!-- Mittlere Spalte -->
	<div class="col-9 col-xl-6 col-md-9 d-flex flex-column py-3">
		<div class="board-container w-100">
			<!-- Hier kommt dein Sudoku-Board rein -->
		</div>
	</div>
	
	<!-- Rechte Spalte -->
	<div class="col-12 col-xl-3 col-md-12 d-flex flex-column py-3">
		<div class="block-bg w-100 border rounded whitebox">
			<div id="TopBlockR"></div>
			<div id="MiddleBlockR" class="block-content justify-content-start p-3">
				<div class="timer" id="timer">0:00:00</div>
				<div class="mb-3">Beste Zeit:</div>
				<div class="mb-2 fw-bold">RULES:</div>
				<div class="accordion" id="regelnAccordion">
					{% for i in "123" %}
					<div class="accordion-item">
						<h2 class="accordion-header" id="heading{{ i }}">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ i }}">
								{{ i }}
							</button>
						</h2>
						<div id="collapse{{ i }}" class="accordion-collapse collapse" data-bs-parent="#regelnAccordion">
							<div class="accordion-body">
								Regel {{ i }} Text.
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
				<!-- Select-Menü für Theme-Auswahl -->
				<div class="mt-3 pb-3">
					<label for="themeSelect" class="form-label">Theme wählen:</label>
					<select id="themeSelect" class="form-select" style="width:100%">
						<option value="classic">Classic</option>
						<option value="stone">Stone</option>
						<option value="glow">Glow</option>
						<option value="zement">Zement</option>
						<option value="wood">Wood</option>
					</select>
				</div>
			</div>
			<div id="BottomBlockR"></div>
		</div>
	</div>
</div>
{% endblock %}

export function createSelectionConfig(opts = {}) {
return {
target              : opts.target     ?? RegionType.CELLS,
mode                : opts.mode       ?? SelectionMode.SINGLE,
showVisual          : opts.showVisual ?? true,
preserveOnModifier  : opts.preserveOnModifier ?? null,

// General item listeners (used depending on current target)
onItemsChanged      : opts.onItemsChanged      ?? (() => {}),
onItemsAdded        : opts.onItemsAdded        ?? (() => {}),
onItemsRemoved      : opts.onItemsRemoved      ?? (() => {}),
onItemsCleared      : opts.onItemsCleared      ?? (() => {}),

// Optional exclusions for other targets
excludeEdges        : opts.excludeEdges        ?? [],
excludeCorners      : opts.excludeCorners      ?? [],
};
}

{% block extra_scripts %}
<script type="module">
    import {createBoard} from "{% static 'sudoku/js/ui/board/board.js' %}";
    import {createSelectionConfig} from "{% static 'sudoku/js/ui/board/board_selectionConfig.js' %}";

    const div = document.querySelector('.board-container');

    let board = createBoard(div);
    board.initBoard();
    board.setSelection(
        createSelectionConfig({
            target: 'cells',
            mode: 'multiple',
            showVisual: true,
            preserveOnModifier: null,
        })
    )
</script>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Timer functionality
        let seconds = 0;
        const timerElement = document.getElementById('timer');

        function formatTime(sec) {
            const h = Math.floor(sec / 3600);
            const m = Math.floor((sec % 3600) / 60);
            const s = sec % 60;
            return `${h}:${m.toString().padStart(2, '0')}:${s.toString().padStart(2, '0')}`;
        }

        if (timerElement) {
            setInterval(() => {
                    seconds++;
                    timerElement.textContent = formatTime(seconds);
                },
                1000
            )
            ;
        }

        // Font size control functionality
        let currentFontSize = 1.8;
        const gridButtons = document.querySelectorAll('.button-grid .btn-square');
        const btnPlus = document.getElementById('btn-plus');
        const btnMinus = document.getElementById('btn-minus');

        function updateFontSize() {
            gridButtons.forEach(btn => {
                btn.style.fontSize = currentFontSize + 'rem';
            })
            ;
        }

        if (btnPlus) {
            btnPlus.addEventListener('click', () => {
                currentFontSize += 0.2;
                updateFontSize();
            });
        }

        if (btnMinus) {
            btnMinus.addEventListener('click', () => {
                currentFontSize = Math.max(0.3, currentFontSize - 0.2);
                updateFontSize();
            })
            ;
        }

        document.addEventListener('keydown', function (event) {
            if (event.key === '+' || event.key === 'Add') {
                btnPlus.click();
                event.preventDefault();
            }
            if (event.key === '-' || event.key === 'Subtract') {
                btnMinus.click();
                event.preventDefault();
            }
        });

        // Eye icon toggle functionality
        const eyeIcons = ['bi-eye', 'bi-eye-fill', 'bi-eye-slash-fill'];
        const btnEye = document.getElementById('btn-toggleEye');
        if (btnEye) {
            const iconElem = btnEye.querySelector('i');
            let iconIndex = 0; // Start with bi-eye-fill

            btnEye.addEventListener('click', function () {
                eyeIcons.forEach(cls => iconElem.classList.remove(cls)
                );
                iconIndex = (iconIndex + 1) % eyeIcons.length;
                iconElem.classList.add(eyeIcons[iconIndex]);
            });
        }


        // EINGABE_MODUS
        const btnNumberMode = document.getElementById('btn-numberMode');
        const btnTopMode = document.getElementById('btn-topMode');
        const btnCenterMode = document.getElementById('btn-centerMode');
        const btnColorMode = document.getElementById('btn-colorMode');

        const theModeButtons = [btnNumberMode, btnTopMode, btnCenterMode, btnColorMode];
        const TheColorBtns = Array.from(document.getElementsByClassName("IsBtnNumber"));
        const btnOne = document.getElementById('btn-one');
        const btnTwo = document.getElementById('btn-two');
        const btnThree = document.getElementById('btn-three');
        const btnFour = document.getElementById('btn-four');
        const btnFive = document.getElementById('btn-five');
        const btnSix = document.getElementById('btn-six');
        const btnSeven = document.getElementById('btn-seven');
        const btnEight = document.getElementById('btn-eight');
        const btnNine = document.getElementById('btn-nine');
        const theBtnColors = [
            'rgb(237,255,0)',
            'rgb(0,215,255)',
            'rgb(255,0,170)',
            'rgb(255,169,0)',
            'rgb(164,122,87)',
            'rgb(170,0,255)',
            'rgb(255,2,0)',
            'rgb(0,216,2)',
            'rgb(1,0,255)'
        ];


        function activateButton(activeBtn) {
            theModeButtons.forEach(btn => btn.classList.remove('btn-active'));
            activeBtn.classList.add('btn-active');
            updateBtnColorBackground();
        }

        function updateBtnColorBackground() {
            // Alle Buttons mit der Klasse "IsBtnNumber" auswählen (HTMLCollection in ein Array umwandeln)

            if (btnColorMode.classList.contains('btn-active')) {
                TheColorBtns.forEach((btn, index) => {
                    btn.style.backgroundColor = theBtnColors[index];
                });
            } else {
                TheColorBtns.forEach(btn => {
                    btn.style.backgroundColor = "white";
                });
            }
        }


// Initial: Zahl ist aktiv
        activateButton(btnNumberMode);

// Klick-Events
        btnNumberMode.addEventListener('click', () => activateButton(btnNumberMode));
        btnTopMode.addEventListener('click', () => activateButton(btnTopMode));
        btnCenterMode.addEventListener('click', () => activateButton(btnCenterMode));
        btnColorMode.addEventListener('click', () => activateButton(btnColorMode));

// Hilfsfunktion: Aktuell aktiven Button finden
        function getActiveIndex() {
            return theModeButtons.findIndex(btn => btn.classList.contains('btn-active'));
        }

// Event-Listener für die Space-Taste
        document.addEventListener('keydown', function (event) {
            // Prüfe, ob die Space-Taste gedrückt wurde (event.code ist moderner und sicherer)
            if (event.code === 'Space') {
                event.preventDefault(); // Verhindert z.B. Scrollen auf der Seite
                let currentIndex = getActiveIndex();
                // Nächsten Index berechnen (rücksetzen auf 0, falls am Ende)
                let nextIndex = (currentIndex + 1) % theModeButtons.length;
                activateButton(theModeButtons[nextIndex]);
            }
        });


        // Theme select functionality
        const backgrounds = {
            stone: "url('{% static 'sudoku/img/playboard/stone.jpg' %}')",
            glow: "url('{% static 'sudoku/img/playboard/glow.jpg' %}')",
            zement: "url('{% static 'sudoku/img/playboard/zement.jpg' %}')",
            wood: "url('/static/sudoku/img/playboard/wood.jpg')"
        };

        const themeSelect = document.getElementById('themeSelect');
        if (themeSelect) {
            themeSelect.addEventListener('change', function () {
                const bg = backgrounds[this.value];
                document.body.style.backgroundImage = bg || "none";
                if (bg) {
                    document.getElementById("TopBlockL").classList.add("block-top");
                    document.getElementById("TopBlockR").classList.add("block-top");
                    document.getElementById("MiddleBlockL").classList.add("block-middle");
                    document.getElementById("MiddleBlockR").classList.add("block-middle");
                    document.getElementById("BottomBlockL").classList.add("block-bottom");
                    document.getElementById("BottomBlockR").classList.add("block-bottom");
                } else {
                    document.getElementById("TopBlockL").classList.remove("block-top");
                    document.getElementById("TopBlockR").classList.remove("block-top");
                    document.getElementById("MiddleBlockL").classList.remove("block-middle");
                    document.getElementById("MiddleBlockR").classList.remove("block-middle");
                    document.getElementById("BottomBlockL").classList.remove("block-bottom");
                    document.getElementById("BottomBlockR").classList.remove("block-bottom");

                }
                document.querySelectorAll('.block-bg').forEach(blockBg => {
                    if (bg) {
                        blockBg.classList.remove('rounded', 'whitebox', 'border');
                    } else {
                        blockBg.classList.add('rounded', 'whitebox', 'border');
                    }
                });
            });
        }


    });

</script>

{% endblock %}
