html, body, #about {
	height: 100%;
	scroll-behavior: smooth;
	margin: 0;
}

#about {
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	background-color: white;
}

.block {
	width: 50%;
	height: 50%;
	box-sizing: border-box;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
	cursor: pointer;
	flex-direction: column;
	text-align: center;
}

.block-OL::after,
.block-UL::after {
	content: '';
	position: absolute;
	right: 0;
	width: 0;
	height: 80%;
	border-right: 1px solid #ccc;
	z-index: 10;
}
.block-OL::after {bottom: 0;}
.block-UL::after {top: 0;}
.block-OL::before,
.block-OR::before {
	content: '';
	position: absolute;
	bottom: 0;
	width: 80%;
	height: 0;
	border-bottom: 1px solid #ccc;
	z-index: 10;
}
.block-OL::before {right: 0;}
.block-OR::before {left: 0;}

.block img {
	height: 50%;
	aspect-ratio: 1/1;
	object-fit: cover;
}


.overlay {
	position: absolute;
	inset: 0;
	background: rgba(0, 0, 0, 0.85);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
	flex-direction: column;
	text-align: center;
	z-index: 2;
	pointer-events: none;
	opacity: 1;
	clip-path: polygon(100% 100%, 100% 100%, 100% 100%, 100% 100%);
}
.overlay h2 {
	color: white;
	font-family: "Londrina Sketch", sans-serif;
	font-weight: 400;
	font-style: normal;
	padding-bottom: 1rem;
	font-size: 3rem;
}

@keyframes wipeURtoOL {
	from { clip-path: polygon(100% 100%, 100% 100%, 100% 100%, 100% 100%); }
	to	 { clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
}

@keyframes wipeULtoOR {
	from { clip-path: polygon(0 100%, 0 100%, 0 100%, 0 100%); }
	to	 { clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
}

@keyframes wipeORtoUL {
	from { clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 0); }
	to	 { clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
}

@keyframes wipeOLtoUR {
	from { clip-path: polygon(0 0, 0 0, 0 0, 0 0); }
	to	 { clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
}

.block.active .overlay.wipe-ol { animation: wipeURtoOL 0.5s forwards; pointer-events: auto;}
.block.active .overlay.wipe-or { animation: wipeULtoOR 0.5s forwards; pointer-events: auto;}
.block.active .overlay.wipe-ul { animation: wipeORtoUL 0.5s forwards; pointer-events: auto;}
.block.active .overlay.wipe-ur { animation: wipeOLtoUR 0.5s forwards; pointer-events: auto;}

.block.active .overlay.wipe-ol-reverse { animation: wipeURtoOL 0.5s reverse forwards; }
.block.active .overlay.wipe-or-reverse { animation: wipeULtoOR 0.5s reverse forwards; }
.block.active .overlay.wipe-ul-reverse { animation: wipeORtoUL 0.5s reverse forwards; }
.block.active .overlay.wipe-ur-reverse { animation: wipeOLtoUR 0.5s reverse forwards; }
