
.sudoku-grid {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(9, 1fr);
	gap: 1px;
	border: 1px solid darkgray;
	width: 100%; /* <-- Volle Breite der Card */
	aspect-ratio: 1 / 1; /* <-- Macht das Grid quadratisch */
	margin: 0 auto;
	background: darkgray;
}

.sudoku-cell {
	background: white;
	width: 100%; /* Füllt die Grid-Zelle aus */
	height: 100%; /* Füllt die Grid-Zelle aus */
	box-sizing: border-box;
}

.my_green   { color: black; background-color: rgba(0, 128, 0, 0.3); }
.my_gold    { color: black; background-color: rgba(255, 215, 0, 0.3); }
.my_red     { color: black; background-color: rgba(255, 0, 0, 0.3); }
.my_violet  { color: black; background-color: rgba(238, 130, 238, 0.3); }
.my_black   { color: black; background-color: rgba(0, 0, 0, 0.3); }
.my_green:hover {color: white;background-color: green;}
.my_gold:hover 	{color: black;background-color: gold;}
.my_red:hover 	{color: black;background-color: red;}
.my_violet:hover{color: black;background-color: violet;}
.my_black:hover {color: white;background-color: black;}

.grid-container {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(5, 1fr);
}

@media (max-width: 1200px) {
	.grid-container {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 768px) {
	.grid-container {
		grid-template-columns: repeat(2, 1fr);
	}
}