body {
    background: #f1f2f3;
}
h1, h2, h3 { margin-bottom: 1rem; }

.my_white_box {
    background-color: white;
    border: 1px solid #dee2e6;   /* Bootstrap border color */
    border-radius: 0.25rem;      /* Bootstrap border radius */
    width: 100%;                 /* Volle Breite */
}