@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wdth,wght@75..100,300..800&display=swap');

body {
    background: #f1f2f3;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.navbar{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3 {margin-bottom: 1rem;}

.onlyHandy {
    display: block !important;
}

@media (min-width: 576px) {
    .onlyHandy {
        display: none !important;
    }
}

.onlyDesktop {
    display: none !important;
}

@media (min-width: 576px) {
    .onlyDesktop {
        display: block !important;
    }
}


h2.title {
    font-weight: 100;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1.3rem;
}

/* color´s
        white       #ffffff
        gray        #e6e6e6
        darkblue    #00395f
        middleblue  #005792
        blue        #0075c5
        lightblue   #0094f8
*/

.montserrat-300 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.fullwindow {
    height: calc(100dvh - 60px);
    overflow: hidden;
    padding: 1.5vw;
}

.full-height {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100dvh - 60px); /* 60px menüzeile*/
    box-sizing: border-box;
    padding-top: 0;
}

.my_board_style {
    background: white;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    box-sizing: border-box;
}

.link {
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    text-decoration: none;
}

.link::before,
.link::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.link::before {
    content: '';
    /* show by default */
}

.link--io::before {
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.link--io:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
    transition-timing-function: cubic-bezier(0.4, 1, 0.8, 1);
}

.link--io::after {
    content: '';
    top: calc(100% + 4px);
    transform-origin: 0% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.link--io:hover::after {
    transform-origin: 100% 50%;
    transform: scale3d(1, 1, 1);
    transition-timing-function: cubic-bezier(0.4, 1, 0.8, 1);
}

.my-text-btn {
    color: #0094f8;
    text-decoration: none!important;
}
.my-text-btn:hover,
.my-text-btn:focus { color:#005792;}

#modalContentContainer {
    opacity: 1;
    transition: all 0.5s ease-in-out;
}
#modalContentContainer.fade-out {
    opacity: 0;
}
.modal-content, .modalBody {
    opacity: 1;
    transition: all 0.5s ease-in-out;
}
.modal-content.fade-out,
.modalBody.fade-out {
    opacity: 0;
}
