body {
    background: #f1f2f3;
    margin: 0;
    padding: 0;
}
h1, h2, h3 { margin-bottom: 1rem; }

.layout-wrapper {
    display: flex;
    overflow: hidden;
    height: calc(100vh - 100px);
    width: 100%;
}

.layout-wrapper.portrait {
    flex-direction: column;
    align-items: center; /* Zentriert die Spalten horizontal */
}

.left-col {
    flex-shrink: 0;
}

.right-col {
    overflow-y: auto;
    flex-grow: 1;
}

.right-col.landscape {
    margin-left: 2rem; /* ms-3 */
    margin-top: 0;
    max-width: 450px;
}

.layout-wrapper.landscape.centered {
    justify-content: center; /* Zentriert beide Spalten horizontal */
}

.right-col.portrait {
    margin-top: 2rem;  /* mt-3 */
    margin-left: 0;
}

.my_board_box {
    background-color: white;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    width: 100%;
}

.my_white_box {
    background-color: white;
    border: 1px solid #dee2e6;   /* Bootstrap border color */
    border-radius: 0.25rem;      /* Bootstrap border radius */
    width: 100%;                 /* Volle Breite */
    overflow-y: auto;
}