/*  CUSTOM  */
.myNav {
  background-color: #494949;
}

.myNav .btn-close {
  filter: brightness(0) invert(1);  /* macht das Icon weiß */
  opacity: 1; /* optional: sichtbar auch ohne Hover */
}

.myNav .btn-close:hover {
  background-color: #a0bcff !important;
  filter: none;
  opacity: 1;
}

.myNav .nav .nav-link {
  color: #ffffff;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.myNav .nav .nav-link:not(.disabled):hover,
.myNav .nav .nav-link:not(.disabled):focus {
  color: #a0bcff;
}
.myNav .nav select{background-color: #494949; color: #ffffff; border: none;}
.myNav .nav select:hover {cursor: pointer; color: #a0bcff;}
.nav-dropdowntext {color: #aaaaaa; font-weight: 600; font-size: 1.2rem;}



.myNavTabStyle .nav-link.active {
  border-left-color: #cccccc;
  border-top-color: #cccccc;
  border-right-color: #cccccc;
}

.myNavTabStyle .nav-link:not(.active) {
  background-color: #ffffff;
  color: #0d6efd;
  border-color: #cccccc #cccccc #cccccc;
}
.myNavTabStyle .nav-link:not(.active):hover {
  color: #ffffff;
  background-color: rgb(11, 94, 215);
  border-bottom-color: rgb(10, 88, 202);
}

.myNavTabStyle .tab-content {
  background: white;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  -moz-border-radius-bottomleft: 0.25rem;
  -moz-border-radius-bottomright: 0.25rem;
}

  /*  BOOTSTRAP  */
  .navbar {
    background-color: #494949;
  }
  .navbar .navbar-brand {
    color: #ffffff;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #a0bcff;
  }
  .navbar .navbar-text {
    color: #ffffff;
  }
  .navbar .navbar-text a {
    color: #a0bcff;
  }
  .navbar .navbar-text a:hover,
  .navbar .navbar-text a:focus {
    color: #a0bcff;
  }
  .navbar .navbar-nav .nav-link {
    color: #ffffff;
    border-radius: .25rem;
    margin: 0 0.25em;
  }
  .navbar .navbar-nav .nav-link:not(.disabled):hover,
  .navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #a0bcff;
  }
  .navbar .navbar-nav .dropdown-menu {
    background-color: #494949;
    border-color: #1e1e1e;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
  .navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
  .navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #a0bcff;
    background-color: #1e1e1e;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #1e1e1e;
  }
  .navbar .navbar-nav .nav-item.active .nav-link,
  .navbar .navbar-nav .nav-item.active .nav-link:hover,
  .navbar .navbar-nav .nav-item.active .nav-link:focus,
  .navbar .navbar-nav .nav-item.show .nav-link,
  .navbar .navbar-nav .nav-item.show .nav-link:hover,
  .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #a0bcff;
    background-color: #1e1e1e;
  }
  .navbar .navbar-toggler {
    border-color: #1e1e1e;
  }
  .navbar .navbar-toggler:hover,
  .navbar .navbar-toggler:focus {
    background-color: #1e1e1e;
  }
  .navbar .navbar-toggler .navbar-toggler-icon {
    color: #ffffff;
  }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #ffffff;
  }
  .navbar .navbar-link {
    color: #ffffff;
  }
  .navbar .navbar-link:hover {
    color: #a0bcff;
  }
  
  @media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ffffff;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #a0bcff;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #a0bcff;
      background-color: #1e1e1e;
    }
  }
  
  @media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ffffff;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #a0bcff;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #a0bcff;
      background-color: #1e1e1e;
    }
  }
  
  @media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ffffff;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #a0bcff;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #a0bcff;
      background-color: #1e1e1e;
    }
  }
  
  @media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ffffff;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #a0bcff;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #a0bcff;
      background-color: #1e1e1e;
    }
  }
  
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #a0bcff;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #a0bcff;
    background-color: #1e1e1e;
  }
}