
{% load i18n %}

<!-- Completion Modal -->
<div class="modal fade" id="finishedModal" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">

			<div class="modal-header border-0">
				<h5 class="modal-title w-100 text-center">🎉 {% trans "Sudoku completed" %}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans 'Close' %}"></button>
			</div>

			<div class="modal-body text-center">
				<img id="finishedImage" src="" alt="Fertig!" class="img-fluid mb-3" style="max-height: 200px;">
				<p id="finishedTimeText" class="fs-5"></p>
				<div id="rating-stars" class="my-2">
					<!-- Stars will be dynamically injected -->
				</div>
			</div>

			<div class="modal-footer justify-content-center border-0">
				<button type="button" class="btn btn-primary" id="done-button" data-bs-dismiss="modal">{% trans "Finish" %}</button>
			</div>

		</div>
	</div>
</div>