{% extends 'sudoku/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}Sudoku Play{% endblock %}

{% block extra_css %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'sudoku/css/game.css' %}">
<link rel="stylesheet" href="{% static 'sudoku/css/board.css' %}">
{% endblock %}

{% block container %}
<div class="fullwindow">
	<div class="grid-container">
		<div class="left-pane my_box_style">
			<div class="board-container"></div>
		</div>
		<div class="right-pane">
			<div class="block-part no-block-in-Portrait-Mode" data-block="top"></div>
			<div class="block-part right-pane-middle-content my_box_style justify-content-start" data-block="middle">
				<div class="timer" id="timer">0:00:00</div>
				<div class="button-grid">
					<button id="btn-gear" class="btn btn-secondary btn-square"
							data-bs-toggle="dropdown" aria-expanded="false">
						<i class="bi bi-gear"></i>
					</button>
					<ul id="theme-menu" class="dropdown-menu dropdown-menu-dark" aria-labelledby="btn-gear">
						<li><a id="classic" class="dropdown-item" href="#">Classic</a></li>
						<li><a id="cement" class="dropdown-item" href="#">Cement</a></li>
						<li><a id="glow" class="dropdown-item" href="#">Glow</a></li>
						<li><a id="stone" class="dropdown-item" href="#">Stone</a></li>
						<li><a id="wood" class="dropdown-item" href="#">Wood</a></li>
					</ul>
					
					<button id="btn-rules" class="btn btn-secondary btn-square" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"><i class="bi bi-info-lg"></i></button>
					<button id="btn-plus" class="btn btn-secondary btn-square">+</button>
					<button id="btn-minus" class="btn btn-secondary btn-square">-</button>
					
					<button id="btn-undo" class="btn btn-custom-white btn-square"><i class="bi bi-backspace-fill"></i></button>
					<button id="btn-redo" class="btn btn-custom-white btn-square"><i class="bi bi-backspace-reverse"></i></button>
					<button id="btn-clear" class="btn btn-custom-white btn-square"><i class="bi bi-trash"></i></button>
					<button id="btn-toggleEye" class="btn btn-custom-white btn-square"><i class="bi bi-eye"></i></button>
					
					<button id="btn-one" class="btn btn-custom-white btn-square btn-number">1</button>
					<button id="btn-two" class="btn btn-custom-white btn-square btn-number">2</button>
					<button id="btn-three" class="btn btn-custom-white btn-square btn-number">3</button>
					<button id="btn-four" class="btn btn-custom-white btn-square btn-number">4</button>
					<button id="btn-five" class="btn btn-custom-white btn-square btn-number">5</button>
					<button id="btn-six" class="btn btn-custom-white btn-square btn-number">6</button>
					<button id="btn-seven" class="btn btn-custom-white btn-square btn-number">7</button>
					<button id="btn-eight" class="btn btn-custom-white btn-square btn-number">8</button>
					<button id="btn-nine" class="btn btn-custom-white btn-square btn-number">9</button>
					
					<button id="btn-numberMode" class="btn btn-custom-white btn-square"><i class="bi bi-pencil-square"></i></button>
					<button id="btn-topMode" class="btn btn-custom-white btn-square"><i class="bi bi-arrow-up-left-square"></i></button>
					<button id="btn-centerMode" class="btn btn-custom-white btn-square"><i class="bi bi-dash-square"></i></button>
					<button id="btn-colorMode" class="btn btn-custom-white btn-square">
						<img src="{% static 'sudoku/img/game/btn-farbe.svg' %}" alt="Icon" width="28" height="28" />
					</button>
					
					<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
						<div class="offcanvas-header">
							<h5 class="offcanvas-title" id="offcanvasExampleLabel">Rules</h5>
							<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
						</div>
						<div class="offcanvas-body">
							<div id="rules-description" class="rules-description-wrapper"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="block-part no-block-in-Portrait-Mode" data-block="bottom"></div>
		</div>
	</div>
</div>

{% endblock %}

{% block extra_scripts %}
<script>window.puzzle_data={{puzzle_data_json | safe}};</script>
<script type="module" src="{% static 'sudoku/js/game/game.js' %}"></script>

{% endblock %}