{% extends 'sudoku/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}Sudoku Play{% endblock %}

{% block extra_css %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'sudoku/css/game.css' %}">
<link rel="stylesheet" href="{% static 'sudoku/css/board.css' %}">
{% endblock %}

{% block container %}
<div class="fullwindow">
	<div class="grid-container">
		<div class="left-pane my_box_style">
			<div class="board-container"></div>
			<div class="timer-container">
				<div style="width: 1rem"></div>
				<div class="timer" id="timer">00:00:00</div>
				<div style="width: 1rem">
					<div class="dropdown">
						<button id="btn-gear" type="button" class="btn btn-link" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-gear"></i></button>
						<ul id="theme-menu" class="dropdown-menu" aria-labelledby="btn-gear">
							<li><h6 class="dropdown-header">Backgrounds</h6></li>
							<li><a id="classic" class="dropdown-item" href="#"><i class="bi bi-check-lg me-2 check-icon"></i>Classic</a></li>
							<li><a id="cement" class="dropdown-item" href="#"><i class="bi bi-check-lg me-2 check-icon invisible"></i>Cement</a></li>
							<li><a id="glow" class="dropdown-item" href="#"><i class="bi bi-check-lg me-2 check-icon invisible"></i>Glow</a></li>
							<li><a id="stone" class="dropdown-item" href="#"><i class="bi bi-check-lg me-2 check-icon invisible"></i>Stone</a></li>
							<li><a id="wood" class="dropdown-item" href="#"><i class="bi bi-check-lg me-2 check-icon invisible"></i>Wood</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="right-pane only_landscape">
			<div class="block-part" data-block="top"></div>
			<div class="block-part right-pane-middle-content my_box_style justify-content-start" data-block="middle">
				<div class="info-container">
					<div>
						<span class="content_name">PUZZLENAME</span><br>
						<span class="content_creator">Terminator3</span>
					</div>
				</div>
				<div class="grid-a">
					<!-- Zeile 1 -->
					<button id="btn-undo" class="btn btn-custom-white btn-square "><i class="bi bi-backspace-fill"></i></button>
					<button id="btn-redo" class="btn btn-custom-white btn-square "><i class="bi bi-backspace-reverse"></i></button>
					<button id="btn-rules" class="btn btn-custom-white btn-square " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"><i class="bi bi-info-lg"></i></button>
					<button id="btn-clear" class="btn btn-custom-white btn-square "><i class="bi bi-trash"></i></button>
					
					<!-- Zeile 3 -->
					<button id="btn-numberMode" class="btn btn-custom-white btn-square "><i class="bi bi-pencil-square"></i></button>
					<button id="btn-topMode" class="btn btn-custom-white btn-square "><i class="bi bi-arrow-up-left-square"></i></button>
					<button id="btn-centerMode" class="btn btn-custom-white btn-square "><i class="bi bi-dash-square"></i></button>
					<button id="btn-colorMode" class="btn btn-custom-white btn-square ">
						<img src="{% static 'sudoku/img/game/btn-farbe.svg' %}" alt="Icon" width="20px" />
					</button>
					
					<!-- Zeile 2 -->
					<div class="grid-b-area">
						<div class="grid-b">
							<button id="btn-one" class="btn btn-custom-white btn-square btn-number">1</button>
							<button id="btn-two" class="btn btn-custom-white btn-square btn-number">2</button>
							<button id="btn-three" class="btn btn-custom-white btn-square btn-number">3</button>
							<button id="btn-four" class="btn btn-custom-white btn-square btn-number">4</button>
							<button id="btn-five" class="btn btn-custom-white btn-square btn-number">5</button>
							<button id="btn-six" class="btn btn-custom-white btn-square btn-number">6</button>
							<button id="btn-seven" class="btn btn-custom-white btn-square btn-number">7</button>
							<button id="btn-eight" class="btn btn-custom-white btn-square btn-number">8</button>
							<button id="btn-nine" class="btn btn-custom-white btn-square btn-number">9</button>
						</div>
					</div>
				</div>
			</div>
			<div class="block-part" data-block="bottom"></div>
		</div>
		<div class="right-pane only_portrait my_box_style">
				<div class="mein-grid">
					<!-- A-Felder -->
					<div class="feld a1"><button id="btn-undo" class="btn btn-custom-white btn-square "><i class="bi bi-backspace-fill"></i></button></div>
					<div class="feld a2"><button id="btn-redo" class="btn btn-custom-white btn-square "><i class="bi bi-backspace-reverse"></i></button></div>
					<div class="feld a3"><button id="btn-rules" class="btn btn-custom-white btn-square " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"><i class="bi bi-info-lg"></i></button></div>
					<div class="feld a4"><button id="btn-clear" class="btn btn-custom-white btn-square "><i class="bi bi-trash"></i></button></div>
					<div class="feld a5"><button id="btn-numberMode" class="btn btn-custom-white btn-square "><i class="bi bi-pencil-square"></i></button></div>
					<div class="feld a6"><button id="btn-topMode" class="btn btn-custom-white btn-square "><i class="bi bi-arrow-up-left-square"></i></button></div>
					<div class="feld a7"><button id="btn-centerMode" class="btn btn-custom-white btn-square "><i class="bi bi-dash-square"></i></button></div>
					<div class="feld a8"><button id="btn-colorMode" class="btn btn-custom-white btn-square btn-img">
						<img src="{% static 'sudoku/img/game/btn-farbe.svg' %}" alt="Icon" />
					</button></div>
					
					<!-- B-Block -->
					<div class="b-block">
						<div class="feld"><button id="btn-one" class="btn btn-custom-white btn-number">1</button></div>
						<div class="feld"><button id="btn-two" class="btn btn-custom-white btn-number">2</button></div>
						<div class="feld"><button id="btn-three" class="btn btn-custom-white btn-number">3</button></div>
						<div class="feld"><button id="btn-four" class="btn btn-custom-white btn-number">4</button></div>
						<div class="feld"><button id="btn-five" class="btn btn-custom-white btn-number">5</button></div>
						<div class="feld"><button id="btn-six" class="btn btn-custom-white btn-number">6</button></div>
						<div class="feld"><button id="btn-seven" class="btn btn-custom-white btn-number">7</button></div>
						<div class="feld"><button id="btn-eight" class="btn btn-custom-white btn-number">8</button></div>
						<div class="feld"><button id="btn-nine" class="btn btn-custom-white btn-number">9</button>
						</div>
					</div>
			</div>
		</div>
		
		<!--
		<div class="feld a a1"><button id="btn-undo" class="btn btn-custom-white btn-square "><i class="bi bi-backspace-fill"></i></button></div>
				<div class="feld a a2"><button id="btn-redo" class="btn btn-custom-white btn-square "><i class="bi bi-backspace-reverse"></i></button></div>
				<div class="feld a a3"><button id="btn-rules" class="btn btn-custom-white btn-square " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"><i class="bi bi-info-lg"></i></button></div>
				<div class="feld a a4"><button id="btn-clear" class="btn btn-custom-white btn-square "><i class="bi bi-trash"></i></button></div>
				<div class="feld a a5"><button id="btn-numberMode" class="btn btn-custom-white btn-square "><i class="bi bi-pencil-square"></i></button></div>
				<div class="feld a a6"><button id="btn-topMode" class="btn btn-custom-white btn-square "><i class="bi bi-arrow-up-left-square"></i></button></div>
				<div class="feld a a7"><button id="btn-centerMode" class="btn btn-custom-white btn-square "><i class="bi bi-dash-square"></i></button></div>
				<div class="feld a a8"><button id="btn-colorMode" class="btn btn-custom-white btn-square ">
					<img src="{% static 'sudoku/img/game/btn-farbe.svg' %}" alt="Icon" width="20px" />
				</button></div>
				
		
		<div class="b-block">
			<div class="feld b"><button id="btn-one" class="btn btn-custom-white btn-number">1</button></div>
			<div class="feld b"><button id="btn-two" class="btn btn-custom-white btn-number">2</button></div>
			<div class="feld b"><button id="btn-three" class="btn btn-custom-white btn-number">3</button></div>
			<div class="feld b"><button id="btn-four" class="btn btn-custom-white btn-number">4</button></div>
			<div class="feld b"><button id="btn-five" class="btn btn-custom-white btn-number">5</button></div>
			<div class="feld b"><button id="btn-six" class="btn btn-custom-white btn-number">6</button></div>
			<div class="feld b"><button id="btn-seven" class="btn btn-custom-white btn-number">7</button></div>
			<div class="feld b"><button id="btn-eight" class="btn btn-custom-white btn-number">8</button></div>
			<div class="feld b"><button id="btn-nine" class="btn btn-custom-white btn-number">9</button>
			</div>
		</div>		-->
		
		<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
			<div class="offcanvas-header">
				<h5 class="offcanvas-title" id="offcanvasExampleLabel">Rules</h5>
				<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<div class="offcanvas-body">
				<div id="rules-description" class="rules-description-wrapper"></div>
			</div>
		</div>
	
	</div>
</div>

{% endblock %}

{% block extra_scripts %}
<script>window.puzzle_data={{puzzle_data_json | safe}};</script>
<script type="module" src="{% static 'sudoku/js/game/game.js' %}"></script>

{% endblock %}