{% extends 'sudoku/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}Sudoku{% endblock %}

{% block extra_css %}
<style>
	@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap');
	
	.londrina-sketch-regular {
		font-family: "Londrina Sketch", sans-serif;
		font-weight: 400;
		font-style: normal;
	}
	
	html, body {
		height: 100%;
		margin: 0;
		padding: 0;
		background: linear-gradient(180deg, #00395f 0%, #0075c5 100%) !important;
		color: #fff;
	}
	
	.full-height {
		height: calc(100vh - 100px);
	}
	
	.brain-img {
		max-width: 200px;
		width: 100%;
		height: auto;
	}
</style>
{% endblock %}

{% block container %}
<div class="container-fluid full-height d-flex flex-column justify-content-center align-items-center">
	<div class="row w-100 justify-content-center mb-3">
		<div class="col-auto d-flex justify-content-center">
			<img src="{% static 'sudoku/img/brain.svg' %}" alt="Brain Icon" class="brain-img">
		</div>
	</div>
	<div class="row w-100 justify-content-center">
		<div class="col-auto d-flex justify-content-center">
			<h1 class="londrina-sketch-regular display-4 fw-bold text-center">{% trans "FINN'S SUDOKU APP" %}</h1>
		</div>
	</div>
	<div class="row w-100 justify-content-center mb-5">
		<div class="col-auto d-flex justify-content-center">
			<a href="{% url 'puzzles' %}" class="btn btn-sudoku" type="button">{% trans "CHOOSE A PUZZLE TO PLAY" %}</a>
			{% if not user.is_authenticated %}
				<span class="mx-1" style="padding-top: 0.375rem">OR</span>
				<a href="{% url 'login' %}" class="btn btn-sudoku" type="button">{% trans "LOGIN" %}</a>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'sudoku/js/lang/lang-index.js' %}"></script>
{% endblock %}
